{% extends 'techioapp/index.html' %}

{% load static %}

{% block content %}
  <form class="bs-example form-horizontal" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Item name:</h2><br>
    {{ itemform.name }}<br>
    <h2>Item description</h2>
    {{ itemform.info }}<br>
    <h2>Image Upload</h2><br>
    {{ itemform.upload }}<br>
    <button class="btn btn-success" type="submit">Save</button>
  </form>

  <p><a href="{% url 'item_list' %}">Return to home</a></p>
{% endblock %}
